/* Heading Styles */
h1 {
  color:cadetblue;
	font-family: "Times New Roman", Times, monospace;
}
ul.a{
 font-family: "Times New Roman", Times, serif
}
p{
	color:aliceblue;
	font-family: "Times New Roman", Times, monospace;
}
h2{
	color:#FFDF0C;
		font-family: "Times New Roman", Times, monospace;
}

/* Body styling */
 body {
  background: blanchedalmond;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.65em; 
	 align: center;
	}
 	
ul.a{
 font-family: "Times New Roman", Times, serif;
	background-image: linear-gradient(to right, lightblue,seagreen,yellow,pink);
	align-content: center
}
p{
	color:black;
	font-family: "Times New Roman", Times, monospace;
}
footer {
	width: 100%;
background-color: lightpink;
  color: white;
  text-align: center;
}
navigation{
	width: 100%;
	color: white;
  text-align: center;
	
}

  