/* Heading Styles */
h1 {
  color:cadetblue;
	font-family: "Times New Roman", Times, monospace;
}
h2{
	color:#FFDF0C;
	font-family: "Times New Roman", Times, monospace;
	text-align: center
}

p{
	color:aliceblue;
	font-family: "Times New Roman", Times, monospace;
}

/* Body styling */
body {
   background:#FFF8DC;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.65em; 
   align: center;
	 }	
 nav {
	list-style: none;
	display: flex;
 font-family: "Times New Roman", Times, serif;
	align-content: center
}
p{
	color:black;
	font-family: "Times New Roman", Times, monospace;
}
footer {
	width: 100%;
background-color: lightpink;
  color: white;
  text-align: center;
}




  